apparmor==3.1.4
arandr==0.1.11
attrs==22.2.0
bcrypt==4.0.1
blinker==1.6.2
Brlapi==0.8.4
btrfsutil==6.3
cairocffi==1.6.0
CairoSVG==2.7.0
cffi==1.15.1
chardet==5.1.0
click==8.1.6
cloud-init==23.2
configobj==5.0.8
cryptography==40.0.2
cssselect2==0.7.0
defusedxml==0.7.1
docopt==0.6.2
docutils==0.20.1
Flask==2.3.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
LibAppArmor==3.1.4
louis==3.25.0
lxml==4.9.3
MarkupSafe==2.1.2
netifaces==0.11.0
nftables==0.1
oauthlib==3.2.2
packaging==23.1
Pillow==9.5.0
ply==3.11
psutil==5.9.5
pulsemixer==1.5.1
pycairo==1.23.0
pycparser==2.21
pyfiglet==0.8.post1
PyGObject==3.44.1
pyrsistent==0.19.3
pyserial==3.5
pystyle==2.9
python-pptx==0.6.18
python-xlib==0.33
pywal==3.3.0
PyYAML==6.0
ranger-fm==1.9.3
Reflector==2021.11.20.2.41.3
requests==2.28.2
six==1.16.0
tinycss2==1.2.1
trash-cli==0.23.2.13.2
typing_extensions==4.6.2
ueberzug==18.2.0
urllib3==1.26.15
validate==5.0.8
webencodings==0.5.1
Werkzeug==2.3.6
XlsxWriter==3.1.2
